<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script language=JavaScript>
    
      function Login(){
      var done=0;
      var username=document.login.username.value;
      username=username.toLowerCase();
      var password=document.login.password.value;
      password=password.toLowerCase();
      if (username=="admin" && password=="admin") { window.location="/cadastro"; done=1; }
      if (done==0) { alert("login invalido!"); }
      }
      
    </script>
  
  <style>
    
    .navbar {
    background-color: #d5fa06;
      margin-bottom: 0;
      border-radius: 0;
}
        
    footer {
      background-color: #d5fa06;
      padding: 25px;
}

    .imagem{
  margin-left: 45%;
}
    .footer{
  align-items: center;
}
    .meio{
  background-color: #d5fa06;
  margin-left: 45%;
    }
body{
  background-color: #d5fa06;
 }
</style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
            </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Inicio</a></li>
                <li><a href="/acesso">Cadastro de Colaboradores</a></li>
                <li><a href="/sobre">Sobre Nós</a></li>
                <li><a href="/lista2">Lista de Colaboradores</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
            </div>
        </div>
      </nav>
      <div class="meio">
    <h1>Portal do Colaborador</h1>
    
    <form name=login>
      <TABLE cellPadding=3 >
        <TBODY>
        <TR>
          <TD colSpan=2>Acesso Restrito</TD></TR>
          <TR>
          <TD>usuário:</TD>
          <TD><INPUT name=username></TD></TR>
        <TR>
          <TD>senha:</TD>
          <TD><INPUT type=password name=password></TD></TR>
        <TR>
          <TD colSpan=2><INPUT onclick=Login() type=button value=Login></TD></TR></TBODY></TABLE></FORM>

 

    </form>
    <a href="/">Voltar</a>
</div>
    <footer class="container-fluid text-center">
        <div class="imagem">
        <img src="logo.png" class="img-responsive" style="width:20%" alt="Image">
        </div>
        <div class="footer">
        <p>Arena Vigilancia Privada Ltda</p>
        <p>Rua São Pedro n° 903 - Areias - São José - SC</p>
        </p>
      </div>
      </footer>
      
      </body>
      </html>