<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
    
    .navbar {
    background-color: #d5fa06;
      margin-bottom: 0;
      border-radius: 0;
}
        
    footer {
      background-color: #d5fa06;
      padding: 25px;
}

    .imagem{
  margin-left: 45%;
}
    .footer{
  align-items: center;
}
    .meio{
  background-color: #d5fa06;
    }
    .row{
  text-align: center;
  margin-left: 15%;
}
    .botao{
  margin-left: 15%;
}
</style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
            </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Inicio</a></li>
              <li><a href="/acesso">Cadastro de Colaboradores</a></li>
              <li><a href="/sobre">Sobre Nós</a></li>
              <li><a href="/lista2">Lista de Colaboradores</a></li>
              <li><a href="/contato">Contato</a></li>
            </ul>
            </div>
        </div>
      </nav>
      <div class="meio">
     <section class="mb-4">

     
      <h2 class="h1-responsive font-weight-bold text-center my-4">Nos Contate</h2>
  
      <p class="text-center w-responsive mx-auto mb-5">
        Você tem alguma pergunta? Por favor, não hesite em nos contatar diretamente. Nossa equipe lhe responderá muito em Breve.</p>
  
      <div class="row">
  
     
          <div class="col-md-9 mb-md-0 mb-5 align-items=center">
              <form id="contact-form" name="contact-form" action="mail.php" method="POST">
  
               
                  <div class="row">
  
                      
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="name" name="name" class="form-control">
                              <label for="name" class="">Nome</label>
                          </div>
                      </div>
                   
  
              
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="email" name="email" class="form-control">
                              <label for="email" class="">Email</label>
                          </div>
                      </div>
        
  
                  </div>
      
                  <div class="row">
                      <div class="col-md-6">
                          <div class="md-form mb-0">
                              <input type="text" id="subject" name="subject" class="form-control">
                              <label for="subject" class="">Titulo do Assunto</label>
                          </div>
                      </div>
                  </div>

                  <div class="row">
  
    
                      <div class="col-md-12">
  
                          <div class="md-form">
                              <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                              <label for="message">Sua Menssagem</label>
                          </div>
  
                      </div>
                  </div>
 
  
              </form>
  
              <div class="botao">
                  <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Enviar</a>
                  <a class="btn btn-primary" href="/">Voltar</a>
              </div>
              
          </div>
       </div>
    </section>

    </form>
    </div>
    <footer class="container-fluid text-center">
        <div class="imagem">
        <img src="logo.png" class="img-responsive" style="width:20%" alt="Image">
        </div>
        <div class="footer">
        <p>Arena Vigilancia Privada Ltda</p>
        <p>arenavigilante@gmail.com</p>
        <p>Telefone: 48 9 8899-2211</p>
        <p>Rua São Pedro n° 903 - Areias - São José - SC</p>
        </p>
      </div>
      </footer>
      
      </body>
      </html>